* { 
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Gilroy', sans-serif;
text-decoration: none;
background: transparent;
}

body{
cursor: url('./public/assets/cursor.png'), auto;
background-color: #11171b;
color: white;
overflow-x: hidden;
overflow-y: scroll;
width:100%;
height:100%;
}