.skillmain {
  width: 100vw;
  height: auto;
}

.skill {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  font-weight: 900;
  justify-content: center;
  font-size: 3rem;
}

.skillbox {
  display: flex;
  gap: 3rem;
  position: relative;
  left: 2rem;
  padding: 2rem;
  margin: 3rem 2rem 0rem 2rem;
  border-radius: 7%;
  background: rgba(225, 205, 205, 0.027);
  border: 2px solid rgb(99, 99, 220);
  box-shadow: 0px 0px 30px rgb(255, 255, 255);
  width: calc(100vw - 8rem);
  height: 70vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.skill-item {
  position: relative;
  display: grid;
  justify-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 2px solid rgb(239, 132, 132);
  width: 500px;
  height: 500px;
  box-shadow: 0px 0px 20px rgba(232, 232, 232, 0.53);
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  padding: 20px;
}

.skill-item-icon {
  position: relative;
  top: 30px;
  width: fit-content;
  height: 5rem;
  transition: box-shadow 0.3s ease;
}

@media (max-width: 768px) {
  .skillmain {  
    height: min-content;
    width: 100%;
  }
  .skill {
    margin-top: 10px;
    font-size: 2.5rem;
    font-weight: 900;
  }
  .skillbox {
    flex-direction: column;
    padding: 1rem;
    margin: 1.5rem 1rem;
    width: calc(100vw - 4rem);
    height: auto;
    gap: 2rem;  
    left:10px;
    margin-bottom: 100px;

  }
  .skill-item {
    width: 350px;
    font-size: 1.2rem;
    display: grid;
    justify-content: center;
    padding: 15px;
  }
  .skill-item-icon {
    height: 3.5rem;
  }
  .skill-item .frameworks-and-library,
  .skill-item .programming-languages,
  .skill-item .tools {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .skill {
    font-size: 2rem;
  }

  .skillbox {
    gap: 2rem;
  }

  .skill-item {
    width: 90%;
    font-size: 1rem;
    padding: 25px;
  }

  .skill-item-icon {
    height: 3.1rem;
  }

  .skill-item .frameworks-and-library,
  .skill-item .programming-languages,
  .skill-item .tools {
    font-size: 1.2rem;
  }
}
