.skillmain {
  width: 100vw;
  height: calc(100vh - 4rem);   
}

.skill {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  font-weight: 900;
  justify-content: center;
  font-size: 3rem;
}

.skillbox {
  display: flex;
  gap: 3rem;
  position: relative;
  padding: 2rem;
  margin: 3rem 2rem 0rem 2rem;
  border-radius: 7%;
  background: rgba(225, 205, 205, 0.027);
  border: 5px solid rgb(99, 99, 220);
  box-shadow: 0px 0px 30px rgb(255, 255, 255);
  opacity: 0.8;
  width: calc(100vw - 6rem);
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.skill-item {
    position: relative;
    display: grid;
    justify-items: center;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    border: 5px solid rgb(239, 132, 132);
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 20px rgba(232, 232, 232, 0.53);
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    padding: 20px;
  }
  
  .skill-item-icon {
    position: relative;
    top: 30px;
    width: fit-content;
    height: 5rem;
  }
  .skill-item-icon:hover {
    box-shadow: -1px 2px 40px rgb(245, 242, 242);
  }




